@font-face {
  font-family: "digital_readout_thick_uprigRg";
  src: url("../../mediaComponents/fonts/digital_readout_thick_upright.woff2")
      format("woff2"),
    url("../../mediaComponents/fonts/digital_readout_thick_upright.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.labels {
  color: #000000;
  user-select: none;
  padding: 0;
  margin: 0;
}
.labels-gold {
  color: rgb(230, 230, 161);
}
#metronome-container {
  padding-left: 0;
  padding-right: 0;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

#octave-container {
  padding-left: 0;
  padding-right: 0;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

#synth-settings-container {
  padding-left: 0;
  padding-right: 0;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.modify-buttons {
  color: #15ca15;
  width: 50%;
}
.modifiers-container {
  padding: 0 !important;
}
#screen-row {
  margin-bottom: 2%;
  padding: 0;
  margin: 0;
}
.screen-display {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.199) 0.1rem,
      transparent 0.1rem
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0.199) 0.1rem, transparent 0.1rem);
  background-color: green;
  background-size: 0.5rem 0.5rem;
  padding: 0 !important;
}
