@font-face {
  font-family: "digital_readout_thick_uprigRg";
  src: url("../../mediaComponents/fonts/digital_readout_thick_upright.woff2")
      format("woff2"),
    url("../../mediaComponents/fonts/digital_readout_thick_upright.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.icon-off {
  fill: gray;
}
.icon-on {
  fill: black;
}

/* .screen {
  width: 1000px;
} */
/* .modify-buttons {
  width: 2%;
  height: 2%;
}
#metronome-icon {
  width: 5%;
  height: 5%;
} */

#metronome-grid {
  display: grid;
}

p,
h3 {
  font-family: "digital_readout_thick_uprigRg";
}
p {
  font-size: 1.5em;
}
