.icon-off {
  fill: gray;
}
.icon-on {
  fill: black;
}

.screen {
  width: 1000px;
}
.modify-buttons {
  width: 2%;
  height: 2%;
}
#metronome-icon {
  width: 5%;
  height: 5%;
}

#metronome-grid {
  display: grid;
}
