#background-main {
  background-image: url("../../mediaComponents/images/splash_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.git-link {
  color: #15ca15;
  text-decoration: none;
}

#splash-image {
  width: 100%;
}
#intro-text {
  text-transform: uppercase;
}
#intro-description p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  text-align: center;
}
