#backdrop {
  background-image: url("../mediaComponents/images/bg.jpg");
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}

p,
h3,
h2 {
  font-family: "digital_readout_thick_uprigRg";
}
p {
  font-size: 1.5em;
}
.wood-case {
  background-image: url("../mediaComponents/images/case.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#left-case {
  background-position: left top;
  padding-left: 0;
  padding-right: 0;
}

#right-case {
  background-position: right top;
  padding-left: 0;
  padding-right: 0;
}

#center-row {
  padding: 0;
}

#logo-row {
  height: 10em;
}

#bottom-row {
  height: 2em;
}
